<h2>playgrounds#index</h2>

<div>
  <span class="my-color"><span class="red">これは赤のはずです。</span></span><br>
  <span class="my-color blue">これは青のはずです。</span><br>
  <span class="foo-world">これは緑のはずです。</span><br>
</div>
