<h2>playgrounds#index</h2>

<div>
  <span class="my-color"><span class="red">これは赤のはずです。</span></span><br>
  <span class="my-color blue">これは青のはずです。</span><br>
  <span class="foo-world">これは緑のはずです。</span><br>
  <span class="abc">これは黄のはずです。</span><br>
  <span class="border border-primary">Bootstrap により枠がついてるはずです。</span><br>
</div>

<h3>CSSから画像を参照できるか</h3>
<div class="hagumeta"></div>

<h3>Railsのasset_pack_pathから画像を参照できるか</h3>
<div>
  <img src="<%= asset_pack_path('images/hagumeta.png') %>" />
</div>
