<!DOCTYPE html>
<html>
  <head>
    <title>WebpackerPlayground</title>
    <%= csrf_meta_tags %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application_' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
